img {
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  height: auto;
}

.buttons {
  display: inline-block;
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
}

.buttons button {
  background-color: #36393e;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  transition-duration: 0.4s;
  margin: 4px 2px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.buttons button:hover {
  background-color: #99AAB5;
  color: white;
}

.buttons2 {
  display: inline-block;
  display: flex;
  justify-content: center;
  position: relative;
}

.buttons2 button {
  background-color: #36393e;
  border: none;
  color: white;
  padding: 30px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  transition-duration: 0.4s;
  margin: 8px 44px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.buttons2 button:hover {
  background-color: #99AAB5;
  color: white;
}

body {
  background-color: #36393e;
}

.footer {
  font-size: 10px;
  position: relative;
  bottom: 0;
  color: #AEABB1;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

a:active {
  color: white;
  text-decoration: none;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.servers {
  display: inline-block;
  display: flex;
  position: relative;
  justify-content: center;
  padding: 15px 46px;
  margin: 4px 20px;
}

h1 {
  text-align: center;
  color: #AEABB1;
}

.stats {
  display: inline-block;
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  font-size: 40px;
}

.stats2 {
  display: inline-block;
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  font-size: 40px;
}