@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200;500;700&display=swap');

body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100vh;
	background: #36393E;
	position: relative;
	font-family: 'Gothic A1', sans-serif;
}

a{
  color: white;
  text-decoration: none;
}

.background-logo {
		position: absolute;
		width: 80%;
		max-width: 365px;
		border-radius: 50%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: -1;
}

.buttons {
  display: inline-block;
  display: flex;
  justify-content: center;
  position: relative;
	flex-wrap: wrap;
	padding-top: 8px;
}

.buttons .button {
	padding: 15px 32px;
	background: #36393E;
	font-size: 27px;
  transition: 0.4s ease-in-out, color 0s;
  margin: 4px 2px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.buttons button:hover {
  background-color: #99AAB5;
  color: white;
}

.buttons2 {
  display: inline-block;
  display: flex;
  justify-content: center;
  position: relative;
}

.buttons2 button {
  background-color: #36393e;
  border: none;
  color: white;
  padding: 30px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  transition-duration: 0.4s;
  margin: 8px 44px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.buttons2 button:hover {
  background-color: #99AAB5;
  color: white;
}

footer{
	position: absolute;
	bottom: 8px;
	left: 8px;
  color: #AEABB1;
}

footer h6 {
	font-size: 10px;
	margin: 0;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.servers {
  display: inline-block;
  display: flex;
  position: relative;
  justify-content: center;
  padding: 15px 46px;
  margin: 4px 20px;
}

h1 {
  text-align: center;
  color: #AEABB1;
}

.status-wrapper {
	margin: 0 auto;
	width: 508px;
	padding-top: 332px;
}

.status-row {
	display: grid;
	grid-template-columns: repeat(3, calc(100% / 3));
}

.status-head h4 {
	font-size: 30px;
}

.status-col {
	justify-self: center;
	align-self: center;
}